@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes twinkle {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0.6;
  }
}

.smoke {
  width: 200vw;
  height: 200vh;
  background: url("/cloud4.png");

  position: absolute;
  opacity: 0.4;
  background-size: 50rem 50rem;
  left: -50vw;
  top: -50vh;
  filter: hue-rotate(34deg);
}
