@tailwind base;
@tailwind components;
@tailwind utilities;

.smoke {
  width: 200vw;
  height: 200vh;
  background: url("/cloud6.png");

  position: absolute;
  opacity: 0.2;
  background-size: 120vw 120vh;
  left: -50vw;
  top: -50vh;
  filter: hue-rotate(5deg);
}
